<!-- <ion-header>
  <ion-toolbar>
    <ion-title>payment-success-page</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="background">
    <div class="msg-container mt-30">
      <div class="payment-price">#100.00</div>
      <div class="success-msg">payment successful</div>
      <div class="msg">Congratulations and welcome to your<br/> new journey of learning</div>
      <div class="icon">
        <div class="checkmark"><ion-icon name="checkmark-sharp"></ion-icon></div>
      </div>
    </div>
  </div>

  <div class="btn-container">
    <div class="payment-btn" (click)="goHome()">Proceed<div><ion-icon name="arrow-forward-sharp"></ion-icon></div></div>
  </div>
</ion-content>
