  <!-- <ion-header>
    <div class="header-container mt-30">
      <div class="header">THE INCPEDIA</div>
      <div class="sub-header">The smartest way to learn</div>
    </div>
  </ion-header> -->

<ion-content>
  <div class="dashboard-container">
    <div class="icon-div">
      <div  class="back-icon">
        <div class="inner-div" (click)="goToDashboard()"><ion-icon name="arrow-back-outline"></ion-icon></div>
      </div>
      <div class="menu-icon">
        <div class="inner-div" (click)="toggleMenu()"><ion-icon name="menu-outline"></ion-icon></div>
      </div>
    </div>
    <div>
      <div><img src="assets/course-pix.png"> </div>
    </div>


    <div class="progress-bar">
      <div>90:24</div>
      <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
      <div>140:23</div>
    </div>

    <div class="payment-info scrollable"  scrollY="true">
      <div class="bar-container">
        <div class="bar"></div>
      </div>
  
      <div class="web-container">
        <div class="img-container">
          <img src="assets/WDF.png"/>
        </div>
        
        <div class="lesson-title">
          <div class="full-stack">Web design - full stack</div>
        </div>
        <div  class="course-info">
          <div class="list-no">
            <div>1</div>
          </div>
          <div>
            <div class="introduction">Introduction</div>
            <div class="time">2 hour&nbsp;35 minutes</div>
          </div>
        </div>
      </div> 
      <div class="btn-container">
        <div class="payment-btn">
          <div><img src="assets/Move back.svg"/></div>
          <div><img src="assets/Back.svg"/></div>
          <div class="pause-icon"><ion-icon name="pause-outline"></ion-icon></div>
          <div><img src="assets/Move back.svg"/></div>
          <div><img src="assets/Back.svg"/></div>
        </div>
      </div> 
    </div>
   
  </div>
  
</ion-content>
