<div class="dash-head">
  <ion-button class="btnn" fill="clear" (click)="goBack()" ><ion-icon name="arrow-back-sharp"></ion-icon></ion-button>
  <div class="name">Assignment</div>
</div>
<ion-content>

  <div class="ass-container">
    <div class="ass-date">
      <div><ion-checkbox></ion-checkbox></div>
      <div class="enterprenuer">Enterpreneurship</div>
      <div class="due-date">Due 9/8/2020</div>
    </div>
    <div class="fore-assg">
      <div><ion-checkbox></ion-checkbox></div>
      <div class="enterprenuer-2">Forensic</div>
      <div class="due-date-2">Due 9/8/2020</div>
    </div>
  </div>

  <div class="msg-container">
    <div class="msg-box">
      <div class="inner-box">
        <div class="textarea-container">
          <textarea placeholder="write here..."></textarea>
        </div>
        
      </div>
      <div class="straight-line">
        <hr size="2" width="100%" color="black">  
      </div>
      <div class="btn-add-container">
        <div class="attach-btn"><ion-icon name="attach-outline"></ion-icon> Add file</div>
        <div class="border"></div>
        <div (click)="submit()"  class="submit">Submit</div>
      </div>
    </div>
  </div>

  <div class="btn-container">
    <div class="payment-btn">Dashboard</div>
  </div>
</ion-content>
