
.btnn {
    // position: absolute;
    // top: 7%;
    /* background: red; */
    z-index: 999;
    color:black;
}

.dash-head{
    margin-top:40px;
    padding: 0px 0px;
    display:flex;
    text-align: center;
   

    .name{
        font-weight:bold;
        font-size:14px;
        padding-top:10px;
        width:80%;
        color:#164A03;
    }


 
    ion-button{
        padding-top:3px;
        margin-right:0px;
        font-size:12px;
        color:black;
        
    }

}

.ass-date{
    display:flex;
    // justify-content: space-between;
    width:65%;
    margin-left:10%;
}

.enterprenuer{
    color:#254A42;
    font-size:10px;
    margin-top:1%;
    font-weight:bold;
    margin:0% 10%;
    // margin-left:2%;
    // margin
}

.due-date{
    color:#254A42;
    font-size:10px;
    margin-top:1%;
    // font-weight:bold;
}

ion-checkbox{
    width:15px;
    height:15px;
    border-radius:6px;
    
}

.fore-assg{
    display: flex;
    // justify-content: space-between;
    width:60%;
    margin-left:10%;
}

.due-date-2{
    color:#254A42;
    font-size:10px;
    margin-top:1%;
    // margin-left:16%;
}
.enterprenuer-2{
    color:#254A42;
    font-size:10px;
    margin-top:1%;
    font-weight:bold;
    margin-left:10%;
    margin-right:19%;
    // margin-left:15%;
    // margin-right:7%;
}


.btn-container{
    text-align:center;
    margin:0px 7%;
    margin-top:30%;
    font-size:16px;
    display:flex;
}

.payment-btn{
    background-color:#254A42;
    color:white;
    padding:18px 33px;
    border-radius:13px;
    display:flex;
    width:100%;
    text-align:center;
    padding-left:40%;
    justify-content: space-between;
   
   
}



.msg-container{
    margin-top:20%;
}

.msg-box{
    border:1px solid black;
    margin:0px 30px;
    background-color:#254A4212;
    // height: 350px;
    // width:auto;
}

.inner-box{
    border:1px solid black;
    margin:10%;
    margin-bottom: 0px;
    height: 280px;
    width:auto;
    background-color:#fff;
    border-radius:20px;
}
.inner-box textarea{
    padding:10px;
    width:90%;
    height:100%;
    border:none;
}

.textarea-container{
    margin:5%;
    width:100%;
    height:90%;
}
.btn-add-container{
    display:flex;
    justify-content: space-evenly;
    // padding:10%
    
}

.attach-btn{
    margin-top:13px;
    color:#254A42;
    font-weight:bold;
    font-family: arial;
}

.attach-btn ion-icon{
    color:#254A42;
    
}

.submit{
    margin-top:13px;
    color:#254A42;
    font-weight:bold;
    font-family: arial;
}

.straight-line{
    margin-top:15%;
}

hr{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.border{
    border-right:1px solid black;
    height:55px;
    width:auto;
}
