<ion-header>
  <ion-toolbar>
     <div class="header-container mt-30">
    <div class="header">THE INCPEDIA</div>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="form">
    <div class="form-title mt-40">Please create an account</div>

    
    <ion-item lines="none">
      <ion-input type="text" placeholder="First Name"></ion-input>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-input type="text"   placeholder="Name of school"></ion-input>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-input type="number" placeholder="Phone no."></ion-input>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-input type="email"   placeholder="Email"></ion-input>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-input type="password" placeholder="Confirm Password"></ion-input>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-input type="password"   placeholder="Password"></ion-input>
    </ion-item>

    <div class="terms mt-15">
      <div class="condition">By creating account you agree to our<br/><div class="privacy">Terms of service and Privacy Policy</div></div>
    </div>
  </div>

  <div class="sign-up-container mt-50">
    <div class="signup-btn"><span>CONTINUE</span></div>
  </div>

  <div class="other-opt mt-10">
    <div class="sign-up-with">Or sign up with</div>
    <div class="icons">
      <ion-icon class="logo-icon" name="logo-google"></ion-icon>
      <ion-icon class="logo-icon" name="logo-linkedin"></ion-icon>
    </div>
  </div>
</ion-content>
